.app {
    background-image: linear-gradient(to right, rgba(6, 63, 100, 0.575), rgba(3, 3, 12, 0.815));
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
